list-page {
  .div-slides2{
      bottom: 0;
      width: 100%;
      display: block;
      img{
          width: auto;
          height: 80px;
          object-fit: contain;
      }
  }

  .tam-title{
      margin-top: -0.5%;
      font-size: 80%;
      font-weight: bold;
      color: #ff9900;
  }

  h1 {
      color: rgb(251, 255, 244);
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      font-size: 16px;
      margin: 0 0 0px;
      text-align: left;
      text-transform: uppercase;
      width: 100%;
    }

  .div-slides{
    height: 10vh !important;
  }

}
