<ion-header>
  <ion-navbar>
    <ion-title>
      <div *ngIf="editMode; else new">{{editLabel}}</div>
      <ng-template #new>{{createScenarioLabel}}</ng-template>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content
  [ngClass]="{ 'homepage': theme == 'default', 'homepageRedTheme': theme=='red' , 'homepageGreenTheme': theme=='green' }">
  <div class='content'>
    <div class='input-fields'>
      <button *ngIf="editMode" style="float: right; right: 5%; margin-top: 1vh;margin-bottom: 1vh;width: 26vw"
              class='seeall'
              [ngClass]="{ 'seeallDefaultTheme': theme == 'default', 'seeallRedTheme': theme=='red' , 'seeallGreenTheme': theme=='green' }"
              [disabled]="using" (click)="removeScenario()">{{removeScenarioLabel}}
      </button>
      <form [formGroup]="scenarioForm" (ngSubmit)="onSubmit(scenarioForm)">
        <div>
          <h1 style="margin-top:5vh">{{chooseIconLabel}}:</h1>
          <div class="div-slides " style="margin-top: 2vh;">
            <ion-slides slidesPerView="3" spaceBetween="1" class="lineborders" style="padding-bottom: 2vh"
                        [ngClass]="{ 'slides': theme == 'default',  'slidesRedTheme': theme=='red' , 'slidesGreenTheme': theme=='green' }">
              <ion-slide *ngFor="let icon of icons">
                <ion-row class="roomicon" (click)="chooseIcon(icon)">
                  <div class="centertitle">
                    <div *ngIf="icon == '1'">
                      <img src="./assets/popcorn.png"
                           [ngClass]="[ iconIndex == icon ? theme == 'default' ? 'active_slideColumn' : theme == 'red' ? 'active_slideColumnRedTheme' :   theme == 'green' ? 'active_slideColumnGreenTheme' : '' : iconIndex != icon ? theme == 'default' ? 'slideColumn' : theme == 'red' ? 'slideColumnRedTheme' :   theme == 'green' ? 'slideColumnGreenTheme' : '' :'']">
                    </div>
                    <div *ngIf="icon == '2'">
                      <img src="./assets/Light_color.png"
                           [ngClass]="[ iconIndex == icon ? theme == 'default' ? 'active_slideColumn' : theme == 'red' ? 'active_slideColumnRedTheme' :   theme == 'green' ? 'active_slideColumnGreenTheme' : '' : iconIndex != icon ? theme == 'default' ? 'slideColumn' : theme == 'red' ? 'slideColumnRedTheme' :   theme == 'green' ? 'slideColumnGreenTheme' : '' :'']">
                    </div>
                    <div *ngIf="icon == '3'">
                      <img src="./assets/Lock.ico"
                           [ngClass]="[ iconIndex == icon ? theme == 'default' ? 'active_slideColumn' : theme == 'red' ? 'active_slideColumnRedTheme' :   theme == 'green' ? 'active_slideColumnGreenTheme' : '' : iconIndex != icon ? theme == 'default' ? 'slideColumn' : theme == 'red' ? 'slideColumnRedTheme' :   theme == 'green' ? 'slideColumnGreenTheme' : '' :'']">
                    </div>
                  </div>
                </ion-row>
              </ion-slide>
            </ion-slides>
          </div>
        </div>
        <ion-input type='text' placeholder={{nameLabel}} class='input-line full-width' formControlName="name"></ion-input>
        <button *ngIf="!editMode" class='ghost-round full-width' [disabled]="!scenarioForm.valid">{{createScenarioLabel}}
        </button>
        <button *ngIf="editMode" class='ghost-round full-width' [disabled]="!scenarioForm.valid">{{editLabel}}</button>
      </form>
    </div>
  </div>
</ion-content>
